@charset "UTF-8";
body {
  background: #fff; }

/*楼梯导航栏*/
.loutinav {
  width: 50px;
  height: 200px;
  background-color: #fff;
  position: fixed;
  right: 300px;
  bottom: 300px; }
.loutinav ul li {
  width: 50px;
  height: 50px;
  border: 1px solid #f1f1f1; }
.loutinav ul li a span {
  font-size: 30px;
  color: red;
  display: block;
  line-height: 50px;
  text-align: center; }

/* 头部区域 */
.bg_top {
  background: #f1f1f1;
  height: 40px; }

.top {
  background: #f1f1f1;
  width: 1000px;
  height: 40px;
  margin: 0 auto; }
.top .top-0 {
  float: left;
  padding-top: 10px; }
.top .top-0 a {
  color: #333;
  padding: 0 10px;
  font-size: 14px; }
.top .top-0 .a1 {
  color: red; }
.top .top-1 {
  float: left;
  overflow: hidden; }
.top .top-1 span {
  font-size: 14px;
  color: red;
  line-height: 40px;
  margin-left: 10px; }
.top .top-1 button {
  font-size: 12px;
  color: #333;
  border-color: #f1f1f1;
  margin-left: 10px; }
.top .top-2 {
  float: right; }
.top .top-2 ul {
  height: 40px;
  overflow: hidden; }
.top .top-2 ul .iconfont {
  font-size: 14px; }
.top .top-2 ul li {
  float: left;
  padding: 0 20px;
  margin-top: 10px; }
.top .top-2 ul li a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8); }
.top .top-2 ul li .a1 {
  color: red; }
.top .top-2 ul li:hover a {
  color: red; }

/* logo和input框 */
.bg_logo {
  background: #fff;
  height: 100px; }

.logo {
  background: #fff;
  width: 1000px;
  height: 100px;
  margin: 0 auto; }
.logo .logo1 img {
  width: 120px;
  height: 100px;
  float: left; }
.logo .inp {
  width: 500px;
  height: 50px;
  background: #fff;
  float: left;
  margin-top: 25px;
  margin-left: 90px;
  border: 2px solid red; }
.logo .inp .sinp {
  width: 400px;
  height: 50px;
  float: left; }
.logo .inp .sinp .icon-sousuo {
  display: block;
  font-size: 40px;
  color: #ccc;
  line-height: 50px;
  float: left; }
.logo .inp .sinp input {
  width: 350px;
  height: 50px;
  border: none;
  outline: none;
  float: left; }
.logo .inp button {
  width: 60px;
  height: 50px;
  float: right;
  background: red;
  color: #fff;
  border: none;
  font-size: 16px; }
.logo .erwei img {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 10px; }

/* 导航栏 */
body {
  background: #fff; }

.bg_nav {
  background: #fff;
  height: 40px; }

.nav {
  background: #fff;
  width: 1000px;
  height: 40px;
  margin: 0 auto; }
.nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }
.nav ul li {
  float: left;
  padding: 0 32px;
  line-height: 40px; }
.nav ul li a {
  font-size: 18px;
  color: gray;
  display: block;
  height: 38px; }
.nav ul li a:hover {
  border-bottom: 2px solid red; }
.nav ul .li1 {
  margin-right: 150px;
  position: relative; }
.nav ul .li1 a {
  color: red; }
.nav ul .li1 .alllist {
  position: absolute;
  top: 40px;
  left: -5px;
  z-index: 20;
  width: 1000px;
  height: 500px;
  background: #fff;
  border: 1px solid #f1f1f1;
  display: none; }
.nav ul .li1 .alllist p {
  display: block;
  font-size: 14px;
  color: #333;
  text-align: center; }
.nav ul .li1 .alllist h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; }
.nav ul .li1 .alllist a {
  font-size: 14px;
  color: #444; }
.nav ul .li1 .alllist a:hover {
  color: #fff;
  border: 0;
  background: rgba(0, 0, 0, 0.5); }
.nav ul .li1 .alllist .iconfont {
  font-size: 8px;
  margin-right: 10px; }
.nav ul .li1 .alllist .fuzhuang {
  width: 400px;
  height: 500px;
  background: #fff;
  float: left;
  border-right: 1px solid #f1f1f1; }
.nav ul .li1 .alllist .fuzhuang .fuzhuang1 {
  width: 198px;
  height: 339px;
  background: #fff;
  float: left; }
.nav ul .li1 .alllist .fuzhuang .fuzhuang2 {
  width: 198px;
  height: 339px;
  background: #fff;
  float: left; }
.nav ul .li1 .alllist .daoju {
  width: 198px;
  height: 500px;
  background: #fff;
  float: left;
  border-right: 1px solid #f1f1f1; }
.nav ul .li1 .alllist .daoju .daoju1 {
  width: 198px;
  height: 339px;
  background: #fff;
  float: left; }
.nav ul .li1 .alllist .xiezi {
  width: 198px;
  height: 500px;
  background: #fff;
  float: left;
  border-right: 1px solid #f1f1f1; }
.nav ul .li1 .alllist .xiezi .xiezi1 {
  width: 198px;
  height: 339px;
  background: #fff;
  float: left; }
.nav ul .li1 .alllist .peishi {
  width: 198px;
  height: 500px;
  background: #fff;
  float: left; }
.nav ul .li1 .alllist .peishi .peishi1 {
  width: 198px;
  height: 339px;
  background: #fff;
  float: left; }
.nav ul .li1:hover .alllist {
  display: block; }

.bg_shopping {
  height: auto; }

.shopping {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden; }
.shopping .cart-top {
  width: 1000px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 40px;
  background: #f1f1f1;
  margin-bottom: 10px; }
.shopping .cart-top input {
  margin-left: 10px; }
.shopping .cart-top .allselect {
  margin-left: 2px;
  color: red; }
.shopping .cart-top .commodity {
  margin-left: 60px; }
.shopping .cart-top .price {
  margin-left: 390px; }
.shopping .cart-top .num {
  margin-left: 90px; }
.shopping .cart-top .count {
  margin-left: 90px; }
.shopping .cart-top .do {
  margin-left: 90px; }
.shopping .cart-list {
  width: 1000px;
  height: 120px;
  border: 1px solid #ccc;
  background: #fff4e8;
  font-size: 16px;
  color: #666;
  line-height: 120px;
  margin-bottom: 10px; }
.shopping .cart-list .check {
  height: 120px;
  float: left;
  width: 60px;
  padding-left: 10px; }
.shopping .cart-list .goodsinf {
  height: 120px;
  float: left;
  width: 430px;
  overflow: hidden; }
.shopping .cart-list .goodsinf img {
  width: 100px;
  height: 100px;
  float: left;
  margin-top: 10px;
  margin-left: 10px; }
.shopping .cart-list .goodsinf .title {
  width: 300px;
  height: 120px;
  float: left;
  margin-left: 10px; }
.shopping .cart-list .goodsinf .title p {
  width: 300px;
  line-height: 30px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 30px; }
.shopping .cart-list .goodsprice {
  height: 120px;
  float: left;
  width: 125px;
  text-align: center; }
.shopping .cart-list .goodsnum {
  height: 120px;
  float: left;
  width: 125px;
  text-align: center; }
.shopping .cart-list .goodsnum .middle {
  width: 125px;
  height: 40px;
  margin-top: 40px;
  position: relative; }
.shopping .cart-list .goodsnum .middle a {
  display: inline-block;
  height: 36px;
  font-size: 30px;
  line-height: 30px;
  padding: 1px 0;
  width: 30px;
  text-align: center;
  color: #666;
  margin: 0;
  background: #fff; }
.shopping .cart-list .goodsnum .middle .less {
  position: absolute;
  left: 4px;
  top: 0; }
.shopping .cart-list .goodsnum .middle .add {
  position: absolute;
  right: 5px;
  top: 0; }
.shopping .cart-list .goodsnum .middle input {
  width: 50px;
  height: 35px;
  position: absolute;
  left: 35px;
  top: 0;
  text-align: center; }
.shopping .cart-list .addprice {
  height: 120px;
  float: left;
  width: 125px;
  background: #fff4e8;
  text-align: center; }
.shopping .cart-list .caozuo {
  height: 120px;
  float: left;
  width: 125px;
  text-align: center; }
.shopping .cart-list .caozuo a {
  color: #333; }
.shopping .cart-foot {
  width: 1000px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 15px;
  position: relative;
  line-height: 40px;
  position: relative;
  background: #f1f1f1; }
.shopping .cart-foot input {
  margin-left: 10px; }
.shopping .cart-foot .delchecked {
  margin-left: 30px;
  color: #333; }
.shopping .cart-foot .delall {
  margin-left: 30px;
  color: #333; }
.shopping .cart-foot .choose {
  margin-left: 350px; }
.shopping .cart-foot .commoditynum {
  color: red; }
.shopping .cart-foot .sum {
  color: red; }
.shopping .cart-foot .settlement {
  display: block;
  width: 80px;
  height: 30px;
  background: red;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 5px;
  text-align: center;
  line-height: 30px; }

.public body, .public h1, .public h2, .public h3, .public h4, .public h5, .public h6, .public p, .public ul, .public li, .public ol, .public dl, .public dd, .public fieldset, .public legend, .public button, .public input, .public textarea, .public th, .public td {
  padding: 0;
  margin: 0; }
.public html {
  font-size: 12px;
  background-color: #eee; }
.public .clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden; }
.public .clear {
  zoom: 1; }
.public li {
  list-style: none; }
.public a {
  text-decoration: none; }
.public img {
  vertical-align: top;
  border: 0; }
.public input, .public select, .public button, .public textarea {
  outline: none; }
.public textarea {
  resize: none; }
.public input[type="button"], .public input[type="submit"], .public input[type="file"] {
  cursor: pointer; }

/* 尾部 */
.bg_footer {
  background: #f1f1f1;
  height: 130px; }

.footer {
  background: #f1f1f1;
  width: 1000px;
  height: 130px;
  margin: 0 auto; }
.footer a {
  text-decoration: none; }
.footer li {
  list-style: none; }
.footer .footer1 {
  width: 1000px;
  height: 50px;
  overflow: hidden;
  margin-bottom: 20px; }
.footer .footer1 ul {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  margin-top: 30px; }
.footer .footer1 ul li {
  float: left;
  font-size: 14px;
  border-right: 1px solid #666;
  padding-right: 10px;
  padding-left: 10px;
  height: 19px; }
.footer .footer1 ul li a {
  color: gray; }
.footer .footer1 ul .last {
  border: 0; }
.footer .footer2 {
  width: 1000px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  color: gray; }

/*# sourceMappingURL=shopping.css.map */
