@charset "UTF-8";

.bg_lbcontent{
    background: #fff;
    height: auto;  
}
.lbcontent{
    width:1000px;
    // background: skyblue;
    overflow: hidden; 
    height: auto;  
    margin: 0 auto;
    .leftlist{
        width:140px;
        // height:800px;
        background: #fff;
        float: left;
        overflow: hidden;
        p{
            margin-bottom: 5px;
            a{
                font-size: 14px;
                color: rgba(0,0,0,0.9);
                .iconfont{
                    font-size: 10px;
                    margin-right: 5px;
                }                
            }
        }
        h2{
            margin-bottom: 8px;
        }
        .all{
            color:red;
            font-size: large;
            margin-top: 5px;
        }
    }
    .rightcontent{
        width:860px;
        // background: yellow;
        float: left;
        .toplist{
            width:820px;
            height:40px;
            margin-left: 40px;
            // background: pink;
            a{
                margin-right: 15px;
                margin-left: 15px;
                font-size: 14px;
                color:rgba(0,0,0,0.8);
                line-height: 40px;
            }
            .sum{
                display: block;
                float: right;
                line-height: 40px;
                margin-right: 20px;
                font-size: 14px;
            }
        }
        .list{
            width:860px;
            // background: green;
            height: auto;
            .list1{
                float: right;
                width: 250px;
                height: 350px;
                margin-left: 35px;
                overflow: hidden;
                img{
                    width: 250px;
                    height: 280px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    
                }
                span{
                    font-size: 16px;
                    
                }
                .name{
                    display: block;
                    color:rgba(0,0,0,0.8);
                    text-align: center;
                    margin-bottom: 6px;
                    
                }
                .price{
                    display: block;
                    color: red;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }
}