@charset "UTF-8";
.bg_details_top{
    height:600px;

}
.details_top{
    height:600px;
    width: 1000px;
    margin: 0 auto;

    // background: skyblue;
    .wrap {
        float: left;
        position: relative;
        width: 400px;
        height: 600px;
        #spic {
            width: 400px;
            height: 500px;
            border: 1px solid #ccc;
            float: left;
            position: relative;
            background-color: green;
            img {
                width: 400px;
                height: 500px;
            }
            #sf {
                width: 50px;
                height: 50px;
                background: orange;
                opacity: 0.3;
                position: absolute;
                left: 0px;
                top: 0px;
                visibility: hidden;
            }
        }
        #bf {
            width: 500px;
            height: 580px;
            border: 1px solid #ccc;
            overflow: hidden;
            position: absolute;
            left: 410px;
            top: 0;
            visibility: hidden;
            z-index: 100;
            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 800px;
                height: 1000px;
            }
             
        }
        #ulist {
            position: absolute;
            left: 0px;
            top: 520px;
            width: 400px;
            height: 60px;
            overflow: hidden;
            // background-color: blue;
            a {
                float: left;
                width: 10px;
                height: 58px;
                border: 1px solid #ccc;
                text-decoration: none;
                line-height: 60px;
                text-align: center;
                background: #fff;
            }             
            #list {
                float: left;
                margin-left: 54px;
                width: 400px;
                position: relative;
                ul {
                    list-style: none;
                    float: left;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    li {
                        float: left;
                        width: 50px;
                        height: 60px;
                        padding-right: 10px;
                        img {
                            width: 50px;
                            height: 60px;
                            border: 1px solid #ccc;
                        }
                    }                  
                }
            }  
            #right {
                position: absolute;
                right: 0px;
                top: 0px;
                color: #333;
                width: 45px;
                text-align: center;
                font-size: 18px;
            }
             
            #left {
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 2;
                color: #fff;
                width: 45px;
                text-align: center;
                font-size: 18px;
            }                     
        }        
    }
    
   
    .rightinf{
        height:550px;
        width: 560px;
        // background: pink;
        float: left;
        padding: 20px;
        overflow: hidden;
        span{
            font-size: 14px;
            color:#666;
        }
        .title{
            // display: block;
            // width:30px;
            // height: 20px;
            background: green;
            font-size: 16px;
            color: #fff;
            float: left;
            margin-right: 10px;
        }
        .title1{
            font-weight: 600;
            font-size: 16px;

        }
        .price{
            width:550px;
            height:50px;
            background: #f3f3f3;
            margin-right: 50px;
            line-height: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
            .jia{
                color: red;
                font-size: 16px;
            }
            .price1{
                color: red;
                font-size: 30px;
                margin-left: 30px;
            }
            .pingjia{
                margin-left: 250px;

            }
        }
        .chima{
            margin-bottom: 20px;
            width:570px;
            height: 40px;
            .choose{
                float: left;
                line-height: 40px;
            }
            ul{
                float: left;
                a{
                    color:#666;
                    float: left;
                    width: 50px;
                    height: 40px;
                    border: 1px solid #ccc;
                    margin-left: 10px;
                    font-size: 20px;
                    text-align: center;  
                    line-height: 40px;                     
                }
            }
        }
        .shuliang{
            margin-bottom: 20px;
            width:570px;
            height: 40px;
            overflow: hidden;
            span{
                line-height: 40px;
                float: left;
            }
            input{
                width:40px;
                height:30px;
                float: left;
                margin-top: 3px;
            }
            a{
                font-size: 30px;
                color: #666;
                float: left;
                line-height: 40px;
            }
            .less{
                margin-left: 40px;
                margin-right: 10px; 
                // font-size: 40px;              
            }
            .add{
                margin-left: 5px;
            }
            .kucun{
                margin-left: 20px;
            }
        }
        .goumai{
            width:570px;
            height: 40px;
            margin-bottom: 20px;
            .buy{
                display: block;
                width: 150px;
                height:40px;
                background: #ffe4d0;
                float: left;
                margin-right: 30px;
                text-align: center;
                line-height: 40px;
                font-size: 20px;
                color: red;
            }
            .gouwuche{
                display: block;
                width: 200px;
                height:40px;
                background: red;
                float: left;
                text-align: center;
                line-height: 40px;
                font-size: 20px;
                color: #fff;
                
                .icon-gouwuche{
                    margin-right: 10px;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
        .zhifu{
            width:570px;
            height: 40px;
            .zf{
                display: block;
                float: left;
                line-height: 30px;
                font-size: 16px;
            }
            .fukuan{
                display: block;
                padding-left: 0 15px 0 15px;
                height:30px;
                text-align: center;
                line-height: 30px;
                float: left;
                font-size: 16px;
                margin-left: 20px;
            }
            .iconfont{
                font-size: 16px;
                margin-right: 5px;
            }
            .icon-zhifubao{
                margin-left: 20px;
                color:#01aaee;
            }
            .icon-mayihuabei{
                color:#01aaee;
            }
            .icon-weixin1{
                color:#50b674;
            }
            .icon-56{
                color:#e9902b;
            }
        }
    } 
}
