@charset "UTF-8";
.bg_shopping {
  height: auto;
}
.shopping {
  width: 1000px;
  height: 600px;
  // background: skyblue;
  margin: 0 auto;
  overflow: hidden;
  .cart-top {
    width: 1000px;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 15px;
    line-height: 40px;
    background: #f1f1f1;
    margin-bottom: 10px;
    input {
      margin-left: 10px;
    }
    .allselect {
      margin-left: 2px;
      color: red;
    }
    .commodity {
      margin-left: 60px;
    }
    .price {
      margin-left: 390px;
    }
    .num {
      margin-left: 90px;
    }
    .count {
      margin-left: 90px;
    }
    .do {
      margin-left: 90px;
    }
  }
  .cart-list {
    width: 1000px;
    height: 120px;
    border: 1px solid #ccc;
    background: pink;
    font-size: 16px;
    color: #666;
    line-height: 120px;
    margin-bottom: 10px;
    @mixin smallcart($height: 120px, $float: left) {
      height: $height;
      float: $float;
    }
    .check {
      @include smallcart();
      width: 60px;
      // background: yellow;
      padding-left: 10px;
    }
    .goodsinf {
      @include smallcart();
      width: 430px;
      // background: green;
      overflow: hidden;
      img {
        width: 100px;
        height: 100px;
        float: left;
        margin-top: 10px;
        margin-left: 10px;
      }
      .title {
        width: 300px;
        height: 120px;
        float: left;
        margin-left: 10px;
        // background: yellow;

        p {
          width: 300px;
          // background: red;
          line-height: 30px;
          white-space: pre-wrap;
          word-wrap: break-word;
          word-break: break-all;
          margin-top: 30px;
        }
      }
    }
    .goodsprice {
      @include smallcart();
      width: 125px;
      text-align: center;
    }
    .goodsnum {
      @include smallcart();
      width: 125px;
      // background: rgb(72, 84, 153);
      text-align: center;
      .middle {
        width: 125px;
        height: 40px;
        // background: red;
        margin-top: 40px;
        position: relative;
        a {
          display: inline-block;
          height: 36px;
          font-size: 30px;
          line-height: 30px;
          padding: 1px 0;
          width: 30px;
          text-align: center;
          color: #666;
          margin: 0;
          background: #fff;
          // float:left;
        }
        .less {
          position: absolute;
          left: 4px;
          top: 0;
        }
        .add {
          position: absolute;
          right: 5px;
          top: 0;
        }
        input {
          width: 50px;
          height: 35px;
          position: absolute;
          left: 35px;
          top: 0;
          text-align: center;
        }
      }
    }
    .addprice {
      @include smallcart();
      width: 125px;
      background: pink;
      text-align: center;
    }
    .caozuo {
      @include smallcart();
      width: 125px;
      // background: skyblue;
      text-align: center;
      a {
        color: #333;
      }
    }
  }

  .cart-foot {
    width: 1000px;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 15px;
    position: relative;
    line-height: 40px;
    position: relative;
    background: #f1f1f1;
    input {
      margin-left: 10px;
    }
    .delchecked {
      margin-left: 30px;
      color: #333;
    }
    .delall {
      margin-left: 30px;
      color: #333;
    }
    .choose {
      margin-left: 350px;
    }
    .commoditynum {
      color: red;
    }
    .sum {
      color: red;
    }
    .settlement {
      display: block;
      width: 80px;
      height: 30px;
      background: red;
      color: #fff;
      position: absolute;
      right: 20px;
      top: 5px;
      text-align: center;
      line-height: 30px;
    }
  }
}