@charset "UTF-8";
@import "loutinav";
@import "header";
@import "logo&&input";
@import "nav";
.bg_banner{
    height:400px;
    margin-bottom: 20px;
    .banner{
        width:1000px;
        height: 400px;
        // background: red;
        img{
            width:1000px;
            height: 400px;
        }
    }
}
@import "goodslist-leftlist";
@import "footer";//注册页面尾部样式引入